URxvt*borderless: 1
URxvt*scrollBar: false
URxvt*termName: rxvt-256color
URxvt.internalBorder: 20

URxvt*background: [97]#282a36
URxvt*foreground: #eff0eb
URxvt*cursorColor: #9aedfe

URxvt*color0: #33303b
URxvt*color8: #4f4b58
URxvt*color1: #ff5c57
URxvt*color9: #ff5c57
URxvt*color2: #5af78e
URxvt*color10: #5af78e
URxvt*color3: #f3f99d
URxvt*color11: #f3f99d
URxvt*color4: #57c7ff
URxvt*color12: #57c7ff
URxvt*color5: #ff6ac1
URxvt*color13: #ff6ac1
URxvt*color6: #9aedfe
URxvt*color14: #9aedfe
URxvt*color7: #eff0eb
URxvt*color15: #eff0eb

URxvt*font: xft:Source Code Pro:size=10:antialias=true:hinting=true
URxvt*boldFont: xft:Source Code Pro:size=12:antialias=true:hinting=true
URxvt*italicFont: xft:Source Code Pro:style=Oblique:size=12:antialias=true:hinting=true
URxvt*boldItalicFont: xft:Source Code Pro:style=Bold Oblique:size=12:antialias=true:hinting=true

URxvt.keysym.Control-Left:   \033[1;5D
URxvt.keysym.Control-Right:  \033[1;5C

URxvt.iso14755: false
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
