[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = git@github.com:alecigne/.emacs.d.git
[submodule "stumpwm/.stumpwm.d"]
	path = stumpwm/.stumpwm.d
	url = git@github.com:alecigne/.stumpwm.d.git
