[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = git@github.com:alecigne/.emacs.d.git
[submodule "stumpwm/.stumpwm.d"]
	path = stumpwm/.stumpwm.d
	url = git@github.com:alecigne/.stumpwm.d.git
[submodule "password-store/.password-store"]
	path = password-store/.password-store
	url = alc@192.168.1.30:/home/alc/usbdrv/password-store.git
